*{
  font-family: helvetica;
}

.image {
  width: 45%;
}
nav {
  color: white;
  border: navy;
  background-color: navy;
}
nav ul {
  padding:0;
  list-style: none;
}
nav li {
  display: inline;
}

nav a {
  color:#fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
  background-color: navy;
}

body {
  background-color: white;
  color: navy;
}

table {
  text-align: left;
  font-size: 10px;
}

 #container{
   display: grid;
 }
 #main-block{
   float: left;
   width: 75%;
   display: in-line;
 }

 #side-bar{
   float: right;
   width: 25%;
   display: in-line;
   word-wrap: break-word;
 }
