<html>
<head>
  <title>Surveys App</title>
  <link rel="stylesheet" href="/main.css" type="text/css" />

</head>
<body>
  <nav>
    <ul>
      <li> <a href="/documentation">API Documentation</a> </li>
    </ul>
  </nav>
  <h1>Welcome to the Survey application</h1>
</html>
